.container {
    max-width: 572px;
    width: 100%;
    text-align: left;

    .postItem {
        display: grid;
        grid-template-columns: 48px auto;
        border-bottom: 1px solid #333333;
        padding: 16px;
        margin: 16px 0;

        .authorProfileImage {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
        .post p {
            font-size: 15px;
            margin: 0;
        }
    }
}
