.container {
    max-width: 600px;
    width: 100%;
    text-align: left;

    .messageItem {
        display: grid;
        grid-template-columns: 82px auto;
        border-bottom: 1px solid #333333;
        padding: 16px;
        margin: 16px 0;

        .authorProfileImage {
            border-radius: 50%;
        }
    }
}