.formContainer {
    display: grid;
    grid-template-columns: 82px auto;
    text-align: left;

    .authorProfileImage {
        border-radius: 50%;
    }

    .form {
        textarea {
            width: 100%;
            height: 150px;
            border-radius: 16px;
        }
    }
}
