.formContainer {
    display: grid;
    grid-template-columns: 48px auto;
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid #333333;

    .authorProfileImage {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    .form {
        position: relative;
        display: grid;
        grid-template-columns: auto 10px 100px;
        align-items: center;
        gap: 16px;

        input {
            border: 0;
            background: transparent;
            height: 20px;
            font-size: 15px;
            &:focus {
                outline: none;
            }
        }

        .remainCharacters {
            font-size: 15px;
        }

        .submit {
            border-radius: 8px;
            border: 1px solid transparent;
            padding: 0.6em 1.2em;
            font-size: 1em;
            font-weight: 500;
            font-family: inherit;
            background-color: #404040;
            color: #141414;
            cursor: pointer;
            transition: border-color 0.25s;

            &:hover {
                border-color: #646cff;
            }

            &:focus,
            &:focus-visible {
                outline: 4px auto -webkit-focus-ring-color;
            }
        }
    }
}
